/* Reset css */
*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    /* background-image:url(https://images.unsplash.com/photo-1513569771920-c9e1d31714af?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTd8fGJsYWNrfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60 */
    background-repeat: no-repeat;
    background-size: cover;
}


.player{
    width: 10%;
    overflow: hidden;
    margin: 3%;
}

.player .button{
    position: relative;
    width: 100%;
    height: 0;
    padding-top: 100%;
    border-radius: 50%;
}

.button img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 50%;
}

/* 
.grid-container {
    grid-column-start: 1;
    grid-column-end: 3;
    display: grid;
    grid-column-gap: 5%;
    grid-template-columns: 100%  ;
    background-color: #2196F3;
    padding: 10px;
  }

  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }  */
  /* Style the video: 100% width and height to cover the entire window */
#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
  }
  
  /* Add some content at the bottom of the video/page */
  .content {
    position: fixed;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 40px;
    align-content : center;
  }

  .quote{
    position: relative;
    color:rgb(255, 255, 255);
    font-size: 130%;
  }